$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #9C27B0,
  secondary:  #7C4DFF,
  danger:     #C2185B,
  light:      #FFFFFF,
  dark:       #7B1FA2,
  back:       #E1BEE7
);

//top Toolbar 
  // primary:    #488aff,
  // secondary:  #32db64,
  // danger:     #f53d3d,
  // light:      #f4f4f4,
  // dark:       #222
$toolbar-md-background:color($colors, primary);


//bottom tabs
$tabs-md-background:color($colors, primary); 
$tabs-md-tab-color-active:color($colors, light);

$tabs-md-tab-color:color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color:color($colors, primary);
$list-md-text-color:color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
